@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&family=Inspiration&family=Lato:wght@300&family=Mukta:wght@200&family=Mulish:wght@200&family=Nanum+Gothic&family=Playfair+Display&family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');


*{
    box-sizing: border-box;
}

body{
    background-color: #8e44ad;
    color: #fff;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.counter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
}

.counter {
    font-size:16px;
    margin-top: 10px; 
}

@media (max-width: 580px){
    body {
        flex-direction: column;
    }
}